
/**
 esto es un comentario dentro de un documento css
*/
*{box-sizing: border-box};

/** esto es para aplicar a todo lo del html
*/
*{color: darkgoldenrod;}

/** lo eque es #  es para aplicar al elemento con ese id
*/
#primer_parrafo{
    color: darkgoldenrod;
    border: 10px black dotted;
      }




/** lo eque es #  es para aplicar altodos los p y span 
*/

p,span{
    color: red;
    width: 300px;
    
}
h1{font-weight: bold;
    border: 1px solid black;
    padding: 5px 20px 30px 40px;
    margin-top: 100px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 10px;
color: blue;}

section {
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
  }


/** lo eque es . se aplica a la clase estaesmiclase 
*/ 
 .estaesmiclase{

    font-style: italic;

   
    font-family: 'Roboto', sans-serif;


 }

 section p {

font-style: oblique;font-size: 100px;
 }

 .letraazul{color: blue}

 .letragrande{font-size: 40px;}

 .letraroboto{font-family: 'Roboto', sans-serif;}


